body{
  font-family: 'Roboto', sans-serif;
}

nav {
  margin-top: -3px;
}

#navdrop *{
  color: white !important;
white-space:nowrap;
}

#logo{
  margin-left: 0vw;
  width: 33px;
  fill: white;
}

#main-photo{
  background-image: url('../img/iop2.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  background-color: grey;
}

#main-photo hr{
  border-width: 10px;
  background-color: #50EEFD;
}

#sect2{
  margin-top: 100px;
  overflow:auto;
}

#sect2 p{
  font-size: 1.3em;
}


#sect2 hr{
  border-width: 3px;
  width: 10%;
  background-color: #21343D;
}

#sect3 hr{
  border-width: 3px;
  width: 10%;
  background-color: #21343D;
}

#sect3{
  margin-top: 100px;
  margin-bottom: 100px;
}

#sect4 img{
  height: 316px;
  width: 316px;
}

#sect4{
  padding-top: 100px;
  padding-bottom: 30vh;
}

footer{
  background-color: transparent;
  width: 100%;
  font-family: 'Major Mono Display', monospace;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer h1{
  padding: 0px;
  margin: 0px;
}

footer img{
  width: 39px;
}

.fondo-oscuro{
  background-color: #21343D;
}

#hombresentado{
  width: 150px;
}

#llave{
  width: 80px;
}


#center-text{
  background-color: transparent;
  position: relative;
  bottom: -40%;
  overflow: none;
  width: 100%;
  font-family: 'Major Mono Display', monospace;
  color: #50EEFD;
  text-shadow:  0 0 3px black, 0 0 5px black;
}

#contacto-text{
  background-color: transparent;
  position: relative;
  bottom: -20%;
  overflow: none;
  width: 100%;
  font-family: 'Major Mono Display', monospace;
  color: #21343D;
}

#sect5{
  height: 100vh;
}



@media (min-width: 576px) {
  #logo{
    margin-left: 0px;
  }
  #center-text{
    bottom: -50%;
  }
}

@media (min-width: 768px) {
  #logo{
    margin-left: 150px;
  }
  #center-text{
    bottom: -20%;
  }
}

@media (min-width: 992px) {
  #logo{
    margin-left: 150px;
  }
  #center-text{
    bottom: -50%;
  }
}

@media (min-width: 1200px) {
  #logo{
    margin-left: 150px;
  }
  #main-photo{
    height: 722px;
  }
  #center-text{
    bottom: -50%;
  }
}

@media (min-width: 1400px) {
  #logo{
    margin-left: 150px;
  }
  #navdrop{
    margin-right: 170px;
    font-size: 0.9em;
  }
  #main-photo{
    height: 722px;
  }
  #center-text{
    bottom: -60%;
  }
}
